p {
    text-indent:30px;
    text-align:justify;
}

/* https://stackoverflow.com/questions/15649244/responsive-font-size */
@media screen and (max-width:767px) {
    /* body {
        background-color:blue;
    } */

    /* h2 {
        font-size:4.2vw;
    }
    h3 {
        font-size:3.5vw;
    }
    p {
        font-size:2vw;
    }  */
    h2 {
        font-size:28px;
    }
    h3 {
        font-size:26px;
    }
    p {
        font-size:12px;
    }
    table thead tr th {
        font-size:2vw;
    }
    table tbody tr td {
        font-size:2vw;
    }
}